{% extends 'base.html.twig' %}
{% set duration = show.startTime.diff(show.endTime) %}
{% set startsThrough = date().diff(show.startTime) %}
{% block body %}
<section class="py-8 bg-white md:py-16 dark:bg-gray-900 antialiased">
    <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0">
      <div class="lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-16">
        <div class="shrink-0 max-w-md lg:max-w-lg mx-auto">
          <img class="w-full hidden dark:block" src="{{ absolute_url( asset(show.movie.getPoster()) ) }}" />
        </div>
        <div class="mt-6 sm:mt-8 lg:mt-0">
          <h1
            class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white"
          >
            {{ show.movie.title }}
          </h1>
          <hr class="my-4 border-gray-200 dark:border-gray-800" />
          <p class="mb-3 text-gray-500 dark:text-gray-400">
            {{ show.movie.description }}
          </p>
          <hr class="my-4 border-gray-200 dark:border-gray-800" />
          <dl class="max-w-md text-gray-900 divide-y divide-gray-200 dark:text-white dark:divide-gray-700">
              <div class="flex flex-col py-3">
                  <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Hall</dt>
                  <dd class="text-lg font-semibold">#{{show.hall.id}} {{show.hall.name}}</dd>
              </div>
              <div class="flex flex-col pt-3">
                  <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Start</dt>
                  <dd class="text-lg font-semibold">{{show.startTime|date()}}</dd>
              </div>
              <div class="flex flex-col pt-3">
                  <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">End</dt>
                  <dd class="text-lg font-semibold">{{show.endTime|date()}}</dd>
              </div>
              <div class="flex flex-col pt-3">
                  <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Duration</dt>
                  <dd class="text-lg font-semibold">{{ duration.format('%h hours %i mins') }}</dd>
              </div>
              <div class="flex flex-col pt-3">
                  <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Starts through</dt>
                  <dd class="text-lg font-semibold">{{ startsThrough.format('%d days %h hours %i mins') }}</dd>
              </div>
          </dl>
          <hr class="my-4 border-gray-200 dark:border-gray-800" />
          <div class="mt-6 sm:gap-4 sm:items-center sm:flex sm:mt-8">
            <a
              href="#"
              title=""
              class="text-white mt-4 sm:mt-0 bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800 flex items-center justify-center"
              role="button"
            >
              <svg
                class="w-5 h-5 -ms-2 me-2"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 4h1.5L8 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm.75-3H7.5M11 7H6.312M17 4v6m-3-3h6"
                />
              </svg>

              Add to cart
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
